<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to 'Leodis!', root_url, class: 'navbar-brand' %>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li><%= link_to 'Tags', tags_url %></li>
        <li><%= link_to 'Images', images_url %></li>
      </ul>
    </div>
  </div>
</nav>
